.grid {
  height: 100%; /* .h-100 */
  width: 100%; /* .w-100 */
  padding: var(--spacing-extra-small); /* .pa1 */

  margin: var(--spacing-none, 0); /* .ma0 */
  display: grid;
  grid-gap: var(--spacing-extra-small);
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-areas: "player-1 summary player-2" "player-1 main player-2" "player-4 main player-3" "player-4 messages player-3";
}

.region {
  border-radius: var(--border-radius-3); /* .br3 */
  border-style: solid; /* .ba */
  border-width: 1px;
  background-color: var(--white-80);
}

.player-1 {
  grid-area: player-1;
}

.player-2 {
  grid-area: player-2;
}

.player-3 {
  grid-area: player-3;
}

.player-4 {
  grid-area: player-4;
}

.summary {
  grid-area: summary;
}

.messages {
  grid-area: messages;
}

.main {
  grid-area: main;
}