.hand {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 6rem;
  grid-gap: 1px;

}

.card {

}
.card > header {
  height: 3rem;
  font-size: var(--font-size-6); /* .f6 */
  font-weight: 400; /* .fw4 */
}
