.hand {
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

.card {
  order: 0;
  flex: 1 1 3em;
  align-self: auto;
}
.card > header {
  font-size: var(--font-size-6); /* .f6 */
  font-weight: 400; /* .fw4 */

}
