.card {
  border-style: solid; /* .ba */
  border-width: 1px;
  height: 100%;
  width: 7rem;
  background-color: var(--white-40); /* .bg-white-20 */

}
.card h3 {
  font-size: var(--font-size-6);
  text-align: center; /* .tc */
}

