.summary {
  border-style: solid; /* .ba */
  border-width: 1px;
  width: 7rem;
  height: 100%;
  background-color: var(--white-40); /* .bg-white-20 */
  border-style: solid; /* .ba */
  border-width: 1px;

}
.summary h3 {
  font-size: var(--font-size-6);
  text-align: center; /* .tc */
}

