.table {
  margin-left: auto;
  margin-right: auto;

  border-style: solid; /* .ba */
  border-width: 1px;
  background-color: var(--near-white); /* .bg-near-white */
  color: var(--near-black); /* .near-black */
}

.headers {
  margin: var(--spacing-medium); /* .ma3 */
  background-color: var(--light-blue); /* .bg-light-blue */
}

.headers tr {
  margin: var(--spacing-medium); /* .ma3 */
  background-color: var(--blue); /* .bg-light-blue */

}

.headers th {
  margin: var(--spacing-medium); /* .ma3 */
  background-color: var(--near-black); /* .bg-light-blue */
  color: var(--near-white); /* .near-white */

}

.body {
  margin: var(--spacing-medium); /* .ma3 */
  background-color: var(--light-blue); /* .bg-light-blue */

}

.body tr {
  margin: var(--spacing-medium); /* .ma3 */
  background-color: var(--blue); /* .bg-light-blue */
}

.body td {
  margin: var(--spacing-medium); /* .ma3 */
  background-color: var(--dark-blue); /* .bg-light-blue */
  color: var(--near-white); /* .near-white */

}

.body th {
  margin: var(--spacing-medium); /* .ma3 */
  background-color: var(--near-black); /* .bg-light-blue */
  color: var(--near-white); /* .near-white */

}
