.player {

}

.player > header > h3 {
  width: 100%; /* .w-100 */
  line-height: var(--line-height-title, 1.0); /* .lh-title */
  font-size: var(--font-size-3, 2rem); /* .f3 */
  text-align: center; /* .tc */
}

.player > header > h4 {
  text-align: center; /* .tc */

}

