.grid {
  height: 100%; /* .h-100 */
  width: 100%; /* .w-100 */
  padding: var(--spacing-extra-small, 0.25rem); /* .pa1 */

  margin: var(--spacing-none, 0); /* .ma0 */
  display: grid;
  grid-gap: var(--spacing-extra-small, 0.25rem);
}

.default {
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr auto auto 2fr 1fr;
  grid-template-areas: "alpha summary beta" "alpha main beta" "alpha main beta" "delta main gamma" "delta main gamma" "delta messages gamma";

}

.heroGrid {
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "alpha main beta" "delta main gamma";
}

.region {
  border-radius: var(--border-radius-3, 3px); /* .br3 */
  border-style: solid; /* .ba */
  border-width: 1px;
  background-color: var(--white-80, white);
}

.alpha {
  grid-area: alpha;
}

.beta {
  grid-area: beta;
}

.gamma {
  grid-area: gamma;
}

.delta {
  grid-area: delta;
}

.summary {
  grid-area: summary;
}

.messages {
  grid-area: messages;
  overflow-y: scroll;
}

.main {
  grid-area: main;
  overflow-y: scroll;
}