.grid {
  height: 100%; /* .h-100 */
  width: 100%; /* .w-100 */
  padding: var(--spacing-extra-small, 0.25rem); /* .pa1 */

  margin: var(--spacing-none, 0); /* .ma0 */
  display: grid;
  grid-gap: var(--spacing-extra-small, 0.25rem);
}

.default {
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr auto auto 2fr 1fr;
  grid-template-areas: "northWest summary northEast" "northWest main northEast" "northWest main northEast" "southWest main southEast" "southWest main southEast" "southWest messages southEast";

}

.heroGrid {
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "northWest main northEast" "southWest main southEast";
}

.upperThird {
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: repeat(6,1fr);
  grid-template-areas:
          "northWest upper northEast"
          "northWest upper northEast"
          "northWest main northEast"
          "southWest main southEast"
          "southWest main southEast"
          "southWest main southEast";

}

.upper {
  grid-area: upper;
}

.lower {
  grid-area: lower;
}
.heroGrid {
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "northWest main northEast" "southWest main southEast";
}




.region {
  border-radius: var(--border-radius-3, 3px); /* .br3 */
  border-style: solid; /* .ba */
  border-width: 1px;
  background-color: var(--white-80, white);
}

.northWest {
  grid-area: northWest;
}

.northEast {
  grid-area: northEast;
}

.southEast {
  grid-area: southEast;
}

.southWest {
  grid-area: southWest;
}

.summary {
  grid-area: summary;
}

.messages {
  grid-area: messages;
  overflow-y: scroll;
}

.main {
  grid-area: main;
  overflow-y: scroll;
}