@import './tachyons-custom/css/_variables.css';

:root {
    --letter-spacing-normal: var(--letter-spacing-1);
    --letter-spacing-mega: var(--letter-spacing-2);
    --font-base-title: 'Advent Pro', var(--serif);
    --font-base-body: 'Open Sans', var(--sans-serif);
    --base-background-color: var(--cpp-blue-light);
    --base-font-color: var(--near-black);
    --logo-height: 60px;
    --sidebar-width: 20rem;
    --bg-body-color: var(--black-20);
    --background-gradient: linear-gradient(to right, var(--light-blue) var(--blue));
}
