/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * # I moved this into assets/stylesheets because I
 * # Could not get it read from vendor/assets
 *= require 'tachyons-custom/tachyons.css'
 *= require '_colors.css'
 *= require '_variables.css'
 *= require '_typography.css'
 *= require '_skins.css'
 *= require '_background.css'
 *= require_self
 */

html,
body,
#appContainer,
.max {
    margin: var(--spacing-none); /* .ma0 */
    padding: var(--spacing-none); /* .pa0 */
    width: 100%; /* .w-100 */
    height: 100%; /* .h-100 */
}

#appContainer {
}

