.about {
  composes: grid from 'styles/grid.css';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

.main {
  composes: region from 'styles/grid.css';
  grid-area: main;
  overflow-y: scroll;
}
.header {
  composes: region from 'styles/grid.css';
  grid-area: header;
}
.footer {
  composes: region from 'styles/grid.css';
  grid-area: footer;
}

