.board {

}

.region {

}

.city {
  background-color: var(--washed-blue); /* .bg-washed-blue */

}

.frontier {
  background-color: var(--washed-green); /* .bg-light-green */

}

.border {
  background-color: var(--washed-yellow); /* .bg-light-yellow */

}

.wilderness {
  background-color: var(--washed-red); /* .bg-washed-red */

}

.lair {
  background-color: var(--light-purple); /* .bg-light-purple */

}