.grid {
  height: 100%; /* .h-100 */
  width: 100%; /* .w-100 */
  padding: var(--spacing-none,0); /* .pa0 */
  margin: var(--spacing-none,0); /* .ma0 */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
          "header"
          "main"
          "footer";
}

.gridRegion {
  padding: var(--spacing-small, 0.5rem ); /* .pa2 */
}

.default {
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.main {
  grid-area: main;
}