.error {
  composes: wrapper from 'styles/flexCenter.css';
  margin: auto;
  background-color: var(--light-red, lightpink); /* .bg-light-red */
  text-align: center; /* .tc */

}

.message {
  composes: centered from 'styles/flexCenter.css';
  color: var(--white); /* .white */
}

.message a {
  text-decoration: none;
  color: var(--dark-red); /* .dark-red */

}